@page "/base64"

<h1> Base 64</h1>

<!-- Components -->
<div class="ComponentContainer">
    <div class="LeftComponent">
        <Base64ToStringCompnent />
    </div>
    <div class="RightComponent">
        <StringtoBase64Component />
    </div>
</div>


