@page "/binary"

<!-- tags above the components with everything centered  -->
<h1>Binary</h1>
<p class="center">
    WARNING: Please Input The Binary Value Without Any Spaces!
</p>

<div class="ComponentContainer">
    <div class="LeftComponent">
        <!-- calling a component by using the file name -->
        <BinaryToStringCOMPONENT />
    </div>
    <div class="RightComponent">
        <StringToBinaryCOMPONENT />
    </div>
</div>
