@page "/hex"

<h1>Hex</h1>

<p class="center"> WARNING: ENTER AS ONE STRING WITH NO SPACES AND NO 0x's</p>

<div class="ComponentContainer">
    <div class="LeftComponent">
        <HexToStringCOMPONENT />
    </div>
    <div class="RightComponent">
        <StringToHexCOMPONENT />
    </div>
</div>
