@page "/HexToStringCOMPONENT"

<h3>HEX TO STRING</h3>
<!-- Components -->
<div class="Top-Box-COMPONENT">
    <input type="text" class="UserInput" @bind="UInput">
</div>
<div class="Bot-Box-COMPONENT">
    <input type="text" class="Output" @bind="Display">
</div>



@code{
    //varibles
    string userInput = "";
    string output = "";
    string OriginInput = "";
    //gertters and setters
    public string UInput
    {
        get => userInput;
        set
        {
            OriginInput  = userInput;
            userInput = HexToString(value);
            output = userInput;
            userInput = OriginInput;
        }
    }

    public string Display{
        get => output;
        set
        {
            output = userInput;
        }
    }
    //hex to string method
    public static String HexToString(string userInput)
    {
        String ascii = "";
        for (int i = 0; i < userInput.Length; i += 2)
        {
            // get two characters from hex string
            String part = userInput.Substring(i, 2);
            // make base 16
            char ch = (char)Convert.ToInt32(part, 16);;
            // add this char to assci
            ascii = ascii + ch;
        }
        return ascii;
    }
}