@page "/"

<body>
    <h1>
        Welcome to the 
        <span class="magic">
            <span class="magic-text">#1</span>
                Decrypting Website!
        </span>
    </h1>
    <div class="Middle-Text">
        <p>
            Just Select An Algorithim, Input Your Text, Press Enter, Then You're Done!
        </p>
    </div>
    <div class="Container">
        <div class="Box-1 Box">
        </div>
        <div class="Box-2 Box">
        </div>
        <div class="Box-3 Box">
        </div>
    </div>
</body>

