@page "/StringToHexCOMPONENT"

<h3>STRING TO HEX</h3>

<div class="Top-Box-COMPONENT">
    <input type="text" class="UserInput" @bind="UInput">
</div>
<div class="Bot-Box-COMPONENT">
    <input type="text" class="Output" @bind="Display">
</div>



@code{
    // varibles
    string userInput = "";
    string output = "";
    string OriginInput = "";
    // getters and setters
    public string UInput
    {
        get => userInput;
        set
        {
            OriginInput  = userInput;
            userInput = ASCIItoHEX(value);
            output = userInput;
            userInput = OriginInput;
        }
    }

    public string Display{
        get => output;
        set
        {
            output = userInput;
        }
    }

   
    // decimal to hex
    static string decToHexa(int n)
    {   
    // char array to store
    // hexadecimal number
    char []hexaDeciNum =
            new char[100];
    
    // counte
    int i = 0;
    
    while(n != 0)
    {   
        int temp  = 0;
        // Storing remainder
        temp = n % 16;
        if(temp < 10)
        {
        hexaDeciNum[i] =
            (char)(temp + 48);
        i++;
        }
        else
        {
        hexaDeciNum[i] =
            (char)(temp + 87);
        i++;
        }
        n = n / 16;
    }
    
    string ans = "";
    // array in reverse order
    for(int j = i - 1;
            j >= 0; j--)
    {
        ans += hexaDeciNum[j];
    }
    return ans;
    }  
    
    //ASCII to hex
    public static string ASCIItoHEX(string userInput)
    {
    // Initialize final String
    string hex = "";

    for (int i = 0;
            i < userInput.Length; i++)
    {
        char ch = userInput[i];
        // find its ascii value
        int tmp = (int)ch;
    
        // Change this ascii value int to hex value
        string part = decToHexa(tmp);
        hex += part;
    }
    return hex;
    }
}