@page "/StringtoBase64Component"

<h3>STRING TO BASE 64</h3>
<div class="Top-Box-COMPONENT">
    <input type="text" class="UserInput" @bind="UInput">
</div>
<div class="Bot-Box-COMPONENT">
    <input type="text" class="Output" @bind="Display">
</div>

@code{
    //varibles
    string userInput = "";
    string output = "";
    string OriginInput = "";
    // getters and setters
    public string UInput
    {
        get => userInput;
        set
        {
            OriginInput  = userInput;
            userInput = StringToBase64(value);
            output = userInput;
            userInput = OriginInput;
        }
    }
    public string Display{
        get => output;
        set
        {
            output = userInput;
        }
    }
    // String to base 64 translator
    public static string StringToBase64(string userInput)
    {
        byte[] bytes = System.Text.ASCIIEncoding.ASCII.GetBytes(userInput);
        string b46trnslation = System.Convert.ToBase64String(bytes);
        return b46trnslation;
    }
}
